.center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }
  .hr{
      margin:0
  }
  ul.hr {
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
   }
   ul.hr li {
    display: inline; /* Отображать как строчный элемент */
    padding: 3px; /* Поля вокруг текста */
   }
   .menu{
       margin:0;
       padding: 0; /* Значение полей */
   }
   .menu li
   {
    display: inline; /* Отображать как строчный элемент */
    padding: s3px; /* Поля вокруг текста */
   }